
.users__name{
    font-family: 'Faustina';
    font-style: normal;
    font-weight: 500; 
}

.home__box{
    display: flex;
    align-items: center;
}

.homes{
    display: flex;
    align-items: center;
}

.dc{
    display: flex;
    align-items: center;
}
