::-webkit-scrollbar{width: 3px; height: 5px;}
::-webkit-scrollbar-thumb{background: rgba(1,1,1,.07);}
::-webkit-scrollbar-thumb:hover{background: #5c5c5c;}
.sidee{
    position: sticky;
    top: 0;
    height: 100vh;
    background: blue;
}